<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <title>Hospital Registration</title>
</head>

<body>
    <H1>Hospital Register</H1>
    <form id="regForm">
        <input type="text" name="name" id="name" placeholder="Name"> <br> <br>
        <input type="text" name="email" id="email" placeholder="Email"> <br> <br>
        <input type="tel" name="phone" id="phone" placeholder="Phone"><br><br>
        <input type="text" name="address" id="address" placeholder="Address"><br><br>
        <input type="text" name="city" id="city" placeholder="City"><br><br>
        <input type="text" name="state" id="state" placeholder="State"><br><br>
        <input type="text" name="zip" id="zip" placeholder="Zip"><br><br>
        <input type="text" name="country" id="country" placeholder="Country"><br><br>
        <h2>Login Credentials</h2>
        <input type="text" name="username" id="username" placeholder="Username"> <br> <br>
        <input type="password" name="password" id="password" placeholder="Password"> <br> <br>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"> <br> <br>

        <button type="submit" id="register-btn">Register</button>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/hospital_register.js"></script>

</html>