<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <title>Pharma login</title>
</head>

<body>
    <h1>Login</h1>
    <form id="login-form">
        <input type="text" name="username" id="username" placeholder="Username"> <br> <br>
        <input type="password" name="password" id="password" placeholder="Password"> <br> <br>
        <button type="submit" id="login-btn">Login</button>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/pharma_login.js"></script>

</html>