<div class="title">
    <h1>Pharma Login</h1>
</div>

<div class="pharma-reg">
    <form id="login-form">
        <input type="text" name="username" id="username" placeholder="Username"> <br> <br>
        <input type="password" name="password" id="password" placeholder="Password"> <br> <br>
        <button type="submit" id="login-btn">Login</button>
    </form>
    <script src="/js/pharma_login.js"></script>
    <link rel="stylesheet" href="/css/pharma-reg.css">
</div>