<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <title>Pharma Register</title>
</head>

<body>
    <h1>Pharma Register</h1>
    <form id="regForm">
        <input type="text" name="firstName" id="firstName" placeholder="First Name">
        <input type="text" name="lastName" id="lastName" placeholder="Last Name">
        <input type="text" name="email" id="email" placeholder="Email">
        <input type="number" name="phone" id="phone" placeholder="Phone">
        <input type="text" name="address" id="address" placeholder="Address">
        <input type="text" name="city" id="city" placeholder="City">
        <input type="text" name="state" id="state" placeholder="State">
        <input type="text" name="zip" id="zip" placeholder="Zip">
        <input type="text" name="country" id="country" placeholder="Country">
        <button type="submit" id="register-btn">Register</button>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="js/pharma_register.js"></script>

</html>