<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

    <title>Doctor Register</title>
</head>

<body>
    <h1>Doctor Register</h1>
    <form id="regForm">
        <input name="firstName" id="firstName" type="text" placeholder="First Name"> <br><br>
        <input name="lastName" id="lastName" type="text" placeholder="Last Name"> <br><br>
        <input name="email" id="email" type="text" placeholder="Email"> <br><br>
        <input name="phone" id="phone" type="tel" placeholder="Phone"> <br><br>

        <input name="hospitalID" id="hospitalID" type="text" placeholder="Hospital ID"> <br><br>
        <input name="speciality" id="speciality" type="text" placeholder="Speciality"> <br><br>
        <h1>Login Credentials</h1>
        <input name="username" id="username" type="text" placeholder="Username"> <br><br>
        <input name="password" id="password" type="password" placeholder="Password"> <br><br>
        <input name="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm Password"> <br><br>
        <button type="submit" id="regBtn">Register</button>
    </form>

</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/doctor_register.js"></script>

</html>