<div class="reg-main">
    <button onclick="new function() {window.location.href = '/pharma/login'}">
        Pharma Login
    </button>
    <button onclick="new function() {window.location.href = '/hospital/login'}">
        Hospital Login
    </button>
    <button onclick="new function() {window.location.href = '/doctor/login'}">
        Doctor Login
    </button>
    <button onclick="new function() {window.location.href = '/patient/login'}">
        Patient Login
    </button>
</div>
<style>
    .reg-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
    }

    button {
        margin-bottom: 20px;
        padding: 10px;
        width: 300px;
        height: 50px;
        border-radius: 10px;
        background-color: #050507;
        color: white;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
</style>