<div class="reg-main">
    <button onclick="new function() {window.location.href = '/pharma/register'}">
        Pharma Registeration
    </button>
    <button onclick="new function() {window.location.href = '/pharma/register'}">
        Hospital Registeration
    </button>
    <button onclick="new function() {window.location.href = '/pharma/register'}">
        Doctor Registeration
    </button>
    <button onclick="new function() {window.location.href = '/pharma/register'}">
        Patient Registeration
    </button>
</div>
<style>
    .reg-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
    }
    button {
        margin-bottom: 20px;
        padding: 10px;
        width: 300px;
        height: 50px;
        border-radius: 10px;
        background-color: #055005;
        color: white;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
</style>