<div class="title">
    <h1>Patient Registeration</h1>
</div>
<div class="pharma-reg">
    <form id="regForm">
        <input name="firstName" id="firstName" type="text" placeholder="First Name"> <br><br>
        <input name="lastName" id="lastName" type="text" placeholder="Last Name"> <br><br>
        <input name="email" id="email" type="text" placeholder="Email"> <br><br>
        <input name="phone" id="phone" type="tel" placeholder="Phone"> <br><br>
        <input name="password" id="password" type="password" placeholder="Password"> <br><br>
        <input name="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm Password"> <br><br>
        <button type="submit" id="regBtn">Register</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="/js/hospital_register.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="/js/pharma_register.js"></script>
    <link rel="stylesheet" href="/css/pharma-reg.css">
</div>